n8n/workflows/linkedin-publish-mariam.json
[
  {
    "name": "LinkedIn Publisher - Mariam",
    "description": null,
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "linkedin-post-mariam",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "linkedin-post-mariam"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body.postId }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "validate-postid",
        "name": "Validate PostId",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": false, \"error\": \"Missing postId\" } }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-400",
        "name": "Respond 400",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          680,
          500
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=http://host.docker.internal:3000/api/internal/posts/{{ $json.body.postId }}",
          "options": {},
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer sTNYUMVrhREvUV+AAwnVnOn8vOgHaeHsOX5MeUwK4ys="
              }
            ]
          }
        },
        "id": "fetch-post",
        "name": "HTTP Request - Fetch Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          200
        ],
        "onError": "continueErrorOutput",
        "settings": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 2000
        }
      },
      {
        "parameters": {
          "url": "https://api.linkedin.com/v2/userinfo",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "options": {}
        },
        "id": "get-person-urn",
        "name": "Get Person URN",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          200
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "76k7RIMbPGGpImJW",
            "name": "LinkedIn account"
          }
        },
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "condition-has-image",
                "leftValue": "={{ $('HTTP Request - Fetch Post').first().json.imageUrl }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "if-has-image",
        "name": "IF - Has Image",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const post = $('HTTP Request - Fetch Post').first().json;\nconst personUrn = $('Get Person URN').first().json.sub;\n\nconst body = {\n  author: 'urn:li:person:' + personUrn,\n  commentary: post.content,\n  visibility: 'PUBLIC',\n  distribution: {\n    feedDistribution: 'MAIN_FEED',\n    targetEntities: [],\n    thirdPartyDistributionChannels: []\n  },\n  lifecycleState: 'PUBLISHED',\n  isReshareDisabledByAuthor: false\n};\n\nreturn [{\n  json: {\n    requestBody: JSON.stringify(body)\n  }\n}];"
        },
        "id": "build-text-post-body",
        "name": "Build Text Post Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1240,
          100
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.linkedin.com/rest/posts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Restli-Protocol-Version",
                "value": "2.0.0"
              },
              {
                "name": "Linkedin-Version",
                "value": "202602"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "text-post",
        "name": "HTTP Request - Text Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          100
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "76k7RIMbPGGpImJW",
            "name": "LinkedIn account"
          }
        },
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "jsCode": "let imageUrl = $('HTTP Request - Fetch Post').first().json.imageUrl;\n\n// Resolve relative paths to full URLs (images served by Next.js)\nif (imageUrl.startsWith('/')) {\n  imageUrl = 'http://host.docker.internal:3000' + imageUrl;\n}\n\n// Validate it looks like a URL (no new URL() sandbox restriction)\nif (!imageUrl.startsWith('http://') && !imageUrl.startsWith('https://')) {\n  throw new Error('Invalid image URL: must start with http(s)://');\n}\n\n// Validate supported file extension\nconst supportedExtensions = ['.jpg', '.jpeg', '.png', '.gif'];\nconst pathPart = imageUrl.split('?')[0].toLowerCase();\nconst hasValidExtension = supportedExtensions.some(ext => pathPart.endsWith(ext));\n\nif (!hasValidExtension) {\n  throw new Error('Unsupported image format: ' + supportedExtensions.join(', '));\n}\n\n// Pass resolved URL downstream\nconst items = $input.all();\nitems[0].json.resolvedImageUrl = imageUrl;\nreturn items;"
        },
        "id": "validate-image",
        "name": "Validate Image",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          400
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.linkedin.com/rest/images?action=initializeUpload",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Restli-Protocol-Version",
                "value": "2.0.0"
              },
              {
                "name": "Linkedin-Version",
                "value": "202602"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"initializeUploadRequest\": {\n    \"owner\": \"urn:li:person:{{ $('Get Person URN').first().json.sub }}\"\n  }\n}",
          "options": {}
        },
        "id": "initialize-upload",
        "name": "Initialize Upload",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          400
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "76k7RIMbPGGpImJW",
            "name": "LinkedIn account"
          }
        },
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $('Validate Image').item.json.resolvedImageUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "download-image",
        "name": "Download Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          400
        ],
        "onError": "continueErrorOutput",
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ $('Initialize Upload').item.json.value.uploadUrl }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/octet-stream"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "upload-binary",
        "name": "Upload Binary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2110,
          400
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "76k7RIMbPGGpImJW",
            "name": "LinkedIn account"
          }
        },
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "jsCode": "const post = $('HTTP Request - Fetch Post').first().json;\nconst personUrn = $('Get Person URN').first().json.sub;\nconst imageId = $('Initialize Upload').first().json.value.image;\n\nconst media = { id: imageId };\nif (post.imageAltText) {\n  media.altText = post.imageAltText;\n}\n\nconst body = {\n  author: 'urn:li:person:' + personUrn,\n  commentary: post.content,\n  visibility: 'PUBLIC',\n  distribution: {\n    feedDistribution: 'MAIN_FEED',\n    targetEntities: [],\n    thirdPartyDistributionChannels: []\n  },\n  lifecycleState: 'PUBLISHED',\n  isReshareDisabledByAuthor: false,\n  content: {\n    media: media\n  }\n};\n\nreturn [{\n  json: {\n    requestBody: JSON.stringify(body)\n  }\n}];"
        },
        "id": "build-image-post-body",
        "name": "Build Image Post Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2260,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.linkedin.com/rest/posts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Restli-Protocol-Version",
                "value": "2.0.0"
              },
              {
                "name": "Linkedin-Version",
                "value": "202602"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "create-post-with-image",
        "name": "Create Post With Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2420,
          300
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "76k7RIMbPGGpImJW",
            "name": "LinkedIn account"
          }
        },
        "settings": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/api/webhooks/publish-status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-webhook-secret",
                "value": "={{$env.N8N_CALLBACK_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"postId\": \"{{ $('Webhook').first().json.body.postId }}\",\n  \"status\": \"published\",\n  \"linkedinPostUrn\": \"{{ $('HTTP Request - Text Post').first().json.headers['x-restli-id'] || 'unknown' }}\",\n  \"callbackId\": \"{{ $execution.id }}\"\n}",
          "options": {}
        },
        "id": "success-callback",
        "name": "HTTP Request - Success Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1660,
          100
        ],
        "onError": "continueErrorOutput",
        "settings": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/api/webhooks/publish-status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-webhook-secret",
                "value": "={{$env.N8N_CALLBACK_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"postId\": \"{{ $('Webhook').first().json.body.postId }}\",\n  \"status\": \"published\",\n  \"linkedinPostUrn\": \"{{ $('Create Post With Image').first().json.headers['x-restli-id'] || 'unknown' }}\",\n  \"callbackId\": \"{{ $execution.id }}\"\n}",
          "options": {}
        },
        "id": "success-callback-image",
        "name": "HTTP Request - Success Callback (Image)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2640,
          300
        ],
        "onError": "continueErrorOutput",
        "settings": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:3000/api/webhooks/publish-status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-webhook-secret",
                "value": "={{$env.N8N_CALLBACK_SECRET}}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={\n  \"postId\": \"{{ $('Webhook').first().json.body.postId }}\",\n  \"status\": \"failed\",\n  \"error\": {{ JSON.stringify(JSON.stringify($json)) }},\n  \"failedNode\": \"{{ $prevNode.name }}\",\n  \"callbackId\": \"{{ $execution.id }}\"\n}",
          "options": {}
        },
        "id": "error-callback",
        "name": "HTTP Request - Error Callback",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1780,
          600
        ],
        "settings": {
          "retryOnFail": true,
          "maxTries": 2,
          "waitBetweenTries": 3000
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"message\": \"Post published successfully\" } }}"
        },
        "id": "respond-webhook-success",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1880,
          100
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"message\": \"Post published successfully\" } }}"
        },
        "id": "respond-webhook-success-image",
        "name": "Respond to Webhook (Image)",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2860,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": false, \"error\": \"Publishing failed\" } }}",
          "options": {
            "responseCode": 500
          }
        },
        "id": "respond-webhook-error",
        "name": "Error Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2000,
          600
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate PostId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate PostId": {
        "main": [
          [
            {
              "node": "HTTP Request - Fetch Post",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 400",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Fetch Post": {
        "main": [
          [
            {
              "node": "Get Person URN",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Person URN": {
        "main": [
          [
            {
              "node": "IF - Has Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Has Image": {
        "main": [
          [
            {
              "node": "Validate Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Text Post Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Text Post Body": {
        "main": [
          [
            {
              "node": "HTTP Request - Text Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Image": {
        "main": [
          [
            {
              "node": "Initialize Upload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Text Post": {
        "main": [
          [
            {
              "node": "HTTP Request - Success Callback",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initialize Upload": {
        "main": [
          [
            {
              "node": "Download Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image": {
        "main": [
          [
            {
              "node": "Upload Binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Binary": {
        "main": [
          [
            {
              "node": "Build Image Post Body",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Image Post Body": {
        "main": [
          [
            {
              "node": "Create Post With Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Post With Image": {
        "main": [
          [
            {
              "node": "HTTP Request - Success Callback (Image)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request - Error Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Success Callback": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Success Callback (Image)": {
        "main": [
          [
            {
              "node": "Respond to Webhook (Image)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - Error Callback": {
        "main": [
          [
            {
              "node": "Error Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "tags": []
  }
]
